@page "/"

    <div style="width: 70%">
        <MHRComponent></MHRComponent>
    </div>
    <div style="width:48%;display:inline-block">
        <FHR1Component></FHR1Component>
    </div>
    <div style="width: 48%;display:inline-block">
        <FHR2Component></FHR2Component>
    </div>

